.container {
    width: 560px;
}

h1 {
    align: center;
}

.right {
    display: inline;
    float: right;

}

.right button.last {
    margin-right: 0;
}

.clear {
    clear: both;
}

/*.btn-danger {
    display: none;
}*/

@media screen and (max-width: 500px) {
    .container {
        width: 100%;
    }

    h1 {
        font-size: 36px;
        position: center;
    }

}
