
<html>
    <head>
    <title>Face2Face</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- get-shit-done css -->
    <link rel="stylesheet" type="text/css" href="css/get-shit-done.css">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="css/custom.css">

    <!-- google map API -->
    <script src="http://maps.googleapis.com/maps/api/js"></script>

    <script>
        function initialize() {
            var mapProp = {
                center:new google.maps.LatLng(51.508742,-0.120850),
                zoom:5,
                mapTypeId:google.maps.MapTypeId.ROADMAP
            };
            var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    </head>

    <body>
        <div class="container">
            <h1>Face2Face<br>
                <small>Directions</small>
            </h1>
            <div id="googleMap" style="width:500px;height:380px;"></div>

            </ul>
        </div>
    </body>
</html>
