<html>
    <head>
    <title>Face2Face</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- get-shit-done css -->
    <link rel="stylesheet" type="text/css" href="css/get-shit-done.css">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="css/custom.css">

    </head>
    <body>
        <div class="container">
            <div class="clearfix">
                <form action="/">
                    <button type="submit" class="btn btn-danger inline pull-right">Sign up</button>
                </form>
            </div>
            <h1>Face2Face</h1>

            <form action="/logged_on">
                <ul class="list-group">
                    <div class="form-group">
                        <li class="list-group-item"><input id="username" name="username" type="username" class="form-control" placeholder="Username" required></li>

                        <li class="list-group-item"><input id="password" name="password" type="password" class="form-control" placeholder="Password" required></li>
                    </div>
                </ul>
            <button type="submit" class="btn btn-info btn-fill">Log in</button>
            </form>

        </div>
    </body>
</html>
