<html>
    <head>
    <title>Face2Face</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- get-shit-done css -->
    <link rel="stylesheet" type="text/css" href="css/get-shit-done.css">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="css/custom.css">

    </head>
    <body>
        <div class="container">
            <h1>Face2Face</h1>
                <div class="alert alert-warning" role="alert">
                Sorry, {{ user_to_meet.getUserName }} is currently unable to meet up with you.
                </div>
                
                <form action="/">
                    <button type="submit" class="btn btn-default btn-sm">Return home</button>
                </form>
        </div>
    </body>
</html>
