<html>
    <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- get-shit-done css -->
    <link rel="stylesheet" type="text/css" href="../css/get-shit-done.css">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="../css/custom.css">

    <!-- jQuery -->
    <script src="../js/jquery-1.11.3.js"></script>
    <scrtpt src="../js/scripts.js"></script>

    <title>Face2Face</title>
    </head>
    <body>
        <div class="container">
            <form action="/XXX" method="post">
                <button type="submit" class="btn btn-default btn-sm inline pull-right">Log off</button>
            </form>

            <h1>Face2Face</h1>

            <!-- list of all users nearby -->
            {% if users is not empty %}
                <h2><small>Users nearby you:</small></h2>
                  {% for user in users %}
                    <ul>
                        <li>{{ user.getName }}
                            <a href="/users/{{ user.getId }}"></a>
                                <ul>
                                    <li>Photo: {{ user.getPhoto }}</li>
                                    <div id="initially-showing">
                                        <button type="submit" class="btn btn-info btn-sm">Request to meet up</button>
                                    </div>
                                    <div id="initially-hidden">
                                        <button type="submit" class="btn btn-danger btn-sm">Cancel request</button>
                                    </div>
                                </ul>
                        </li>
                    </ul>
                  {% endfor %}
            {% else %}
                <h2><small>There's no users yet.</small></h2>
            {% endif %}

            <hr noshade size=4 width=100% align=left>

            <!-- list of all requests -->
            {% if requests is not empty %}
                <h2><small>Requests you received to meet up:</small></h2>
                  {% for request in requests %}
                      <ul>
                          <li>{{ user.getName }}
                              <a href="/users/{{ user.getId }}"></a>
                              <ul>
                                  <li>Photo: {{ user.getPhoto }}</li>
                              </ul>
                          </li>
                      </ul>
                  {% endfor %}
            {% else %}
                <h2><small>There's no requests yet.</small></h2>
            {% endif %}

            <hr noshade size=4 width=100% align=left>

            <!-- see the confirmed meetup -->
            <form action="/confrimed">
                <button type="submit" class="btn btn-success btn">Confirmed meetup</button>
            </form>

            <hr noshade size=4 width=100% align=left>

            <!-- see history of all meetups -->
            <form action="/confrimed">
                <button type="submit" class="btn btn-default btn">My meetup history</button>
            </form>

        </div>
    </body>
</html>
