<html>
    <head>
    <title>Face2Face</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- get-shit-done css -->
    <link rel="stylesheet" type="text/css" href="css/get-shit-done.css">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="css/custom.css">

    </head>
    <body>
        <div class="container">

            <h1>Face2Face</h1>

            {% if users is not empty %}
                <h2><small>Here are all the people near by who want to meet up:</small></h2>
                  {% for user in users %}
                      <ul>
                          <li>{{ user.getName }}
                              <a href="/restaurants/{{ user.getId }}"></a>
                              <ul>
                                  <li>Description: {{ user.getDescription }}</li>
                              </ul>
                          </li>
                      </ul>
                  {% endfor %}
            {% else %}
                <h2><small>There's no users yet. Please be patient!</small></h2>
            {% endif %}

        </div>
    </body>
</html>
